<!--The content below is only a placeholder and can be replaced.-->
<ng2-slim-loading-bar color="blue"></ng2-slim-loading-bar>
<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="product/online" class="nav-link" routerLinkActive="active">
          在线仪器
        </a>
      </li> 
      <li class="nav-item">
        <a routerLink="product/list" class="nav-link" routerLinkActive="active">
          仪器类型
        </a>
      </li> 
      <li class="nav-item">
        <a routerLink="product/add" class="nav-link" routerLinkActive="active">
          添加仪器类型
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- router-outlet 是一个来自路由模块中的指令，它的用法类似于组件。 它扮演一个占位符的角色，用于在模板中标出一个位置，路由器将会把要显示在这个出口处的组件显示在这里。 -->
<!-- 有了这份配置，当本应用在浏览器中的 URL 改变时，路由器就会匹配到 path 为 heroes 的 Route，并在宿主视图中的RouterOutlet之后显示 HeroListComponent 组件。 -->
<router-outlet></router-outlet>
